*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --color-one: #FFFFFF;
    --color-two: #dbdbdb;
    --color-three: #DFD9D0;   
    --color-four: #D96748;
    --border-one: solid 8px rgb(0, 0, 0); 
    --box-shadow: 0px 0px #D96748;
    --color-five: rgb(255, 0, 0);
    --color-six: rgb(0,0,0);
    --color-seven: rgb(255, 255, 255);
    --color-eight:yellow;
    --color-nine:orange;
    --color-ten:green; 
    --color-eleven: rgb(179, 149, 149);

}
/* I chose the idea of ​​cards, so my colors will revolve
 around the theme of gambling*/
.grid-container-bg {
    display: grid;
    background-color: var(--color-one);
    width: 70vh;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.6fr 0.5fr 0.6fr 2.3fr;
    row-gap: 20px;
    column-gap: 20px;
}
/* I determined to divide the array into numerous elements 
and every component could have its personal color,like the pixel idea.*/
.grid-item-one {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 0.8fr 1.1fr 1.1fr;
    border: var(--border-one);  
}

#box-one {
    background-color: var(--color-two);
    grid-column: 1/2;
    grid-row: 1/3;
    box-shadow: var(--box-shadow); 
    border-radius: 2px;
}

.grid-box-one {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

#box-one-1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#heart-1 {
    background-color: var(--color-six);
    grid-column: 3/7;
    grid-row: 1/2;
}
#heart-2 {
    background-color: var(--color-six);
    grid-column: 10/14;
    grid-row: 1/2;
}
#heart-3 {
    background-color: var(--color-six);
    grid-column: 2/8;
    grid-row: 2/3;
}
#heart-4 {
    background-color: var(--color-six);
    grid-column: 9/15;
    grid-row: 2/3;
}
#heart-5 {
    background-color: var(--color-five);
    grid-column: 3/7;
    grid-row: 2/3;
}
#heart-6 {
    background-color: var(--color-five);
    grid-column: 10/14;
    grid-row: 2/3;
}
#heart-7 {
    background-color: var(--color-six);
    grid-column: 1/16;
    grid-row: 3/7;
}
#heart-8 {
    background-color: var(--color-five);
    grid-column: 2/8;
    grid-row: 3/4;
}
#heart-9 {
    background-color: var(--color-five);
    grid-column: 9/15;
    grid-row: 3/4;
}
#heart-10 {
    background-color: var(--color-seven);
    grid-column: 4/6;
    grid-row: 3/4;
}
#heart-11 {
    background-color: var(--color-five);
    grid-column: 2/15;
    grid-row: 4/5;
}
#heart-12 {
    background-color: var(--color-seven);
    grid-column: 3/5;
    grid-row: 4/5;
}
#heart-13 {
    background-color: var(--color-five);
    grid-column: 2/15;
    grid-row: 5/6;
}
#heart-14 {
    background-color: var(--color-seven);
    grid-column: 3/4;
    grid-row: 5/6;
}
#heart-15 {
    background-color: var(--color-five);
    grid-column: 2/15;
    grid-row: 6/7;
}
#heart-16 {
    background-color: var(--color-six);
    grid-column: 2/15;
    grid-row: 7/8;
}
#heart-17 {
    background-color: var(--color-five);
    grid-column: 3/14;
    grid-row: 7/8;
}
#heart-18 {
    background-color: var(--color-six);
    grid-column: 3/14;
    grid-row: 8/9;
}
#heart-19 {
    background-color: var(--color-five);
    grid-column: 4/13;
    grid-row: 8/9;
}
#heart-20 {
    background-color: var(--color-six);
    grid-column: 4/13;
    grid-row: 9/10;
}
#heart-21 {
    background-color: var(--color-five);
    grid-column: 5/12;
    grid-row: 9/10;
}
#heart-22 {
    background-color: var(--color-six);
    grid-column: 5/12;
    grid-row: 10/11;
}
#heart-23 {
    background-color: var(--color-five);
    grid-column: 6/11;
    grid-row: 10/11;
}
#heart-24 {
    background-color: var(--color-six);
    grid-column: 6/11;
    grid-row: 11/12;
}
#heart-25 {
    background-color: var(--color-five);
    grid-column: 7/10;
    grid-row: 11/12;
}
#heart-26 {
    background-color: var(--color-six);
    grid-column: 7/10;
    grid-row: 12/13;
}
#heart-27 {
    background-color: var(--color-five);
    grid-column: 8/9;
    grid-row: 12/12;
}
#heart-28 {
    background-color: var(--color-six);
    grid-column: 8;
    grid-row: 13;
}


.grid-item-two {
    display: grid;
    border: var(--border-one);
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 0.8fr 1.1fr 1.1fr;  
}

#box-two {
    background-color: var(--color-two);
    grid-column: 2/3;
    grid-row: 2/4;
    box-shadow: var(--box-shadow);
    border-radius: 2px;
}
.grid-box-two {
    display: grid;
    grid-template-columns: repeat(22,1fr) ;
    grid-template-rows: repeat(23,1fr) ;
}

#box-two-1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#club-1 {
    background-color: var(--color-six);
    grid-column: 10/14;
    grid-row: 1;
}
#club-2 {
    background-color: var(--color-six);
    grid-column: 9/15;
    grid-row: 2;
}
#club-3 {
    background-color: var(--color-six);
    grid-column: 8/16;
    grid-row: 3;
}
#club-4 {
    background-color: var(--color-seven);
    grid-column: 10/12;
    grid-row: 3;
}
#club-5 {
    background-color: var(--color-six);
    grid-column: 7/17;
    grid-row: 4/9;
}
#club-6 {
    background-color: var(--color-seven);
    grid-column: 9/11;
    grid-row: 4;
}
#club-7 {
    background-color: var(--color-seven);
    grid-column: 9;
    grid-row: 5;
}
#club-8 {
    background-color: var(--color-six);
    grid-column: 8/16;
    grid-row: 9;
}
#club-9 {
    background-color: var(--color-six);
    grid-column: 4/20;
    grid-row: 10;
}
#club-10 {
    background-color: var(--color-six);
    grid-column: 3/21;
    grid-row: 11;
}
#club-11 {
    background-color: var(--color-six);
    grid-column: 2/22;
    grid-row: 12;
}
#club-12 {
    background-color: var(--color-seven);
    grid-column: 4/6;
    grid-row: 12;
}
#club-13 {
    background-color: var(--color-six);
    grid-column: 1/23;
    grid-row: 13/17;
}
#club-14 {
    background-color: var(--color-seven);
    grid-column: 3/5;
    grid-row: 13;
}
#club-15 {
    background-color: var(--color-seven);
    grid-column: 3;
    grid-row: 14;
}
#club-16 {
    background-color: var(--color-six);
    grid-column: 2/10;
    grid-row: 17;
}
#club-17 {
    background-color: var(--color-six);
    grid-column: 11/13;
    grid-row: 17/19;
}
#club-18 {
    background-color: var(--color-six);
    grid-column: 14/22;
    grid-row: 17;
}
#club-19 {
    background-color: var(--color-six);
    grid-column: 3/9;
    grid-row: 18;
}
#club-20 {
    background-color: var(--color-six);
    grid-column: 15/21;
    grid-row: 18;
}
#club-21 {
    background-color: var(--color-six);
    grid-column: 4/8;
    grid-row: 19;
}
#club-22 {
    background-color: var(--color-six);
    grid-column: 10/14;
    grid-row: 19/21;
}
#club-23 {
    background-color: var(--color-six);
    grid-column: 16/20;
    grid-row: 19;
}
#club-24 {
    background-color: var(--color-six);
    grid-column: 9/15;
    grid-row: 21/23;
}
#club-25 {
    background-color: var(--color-six);
    grid-column: 8/16;
    grid-row: 23;
}

.grid-item-three {
    display: grid;
    border: var(--border-one);
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 0.8fr 1.1fr 1.1fr; 
}

#box-three {
    background-color: var(--color-two);
    grid-column: 3/4;
    grid-row: 1/3;
    box-shadow: var(--box-shadow);
    border-radius: 2px;
}
.grid-box-three {
    display: grid;
    grid-template-columns: repeat(32,1fr) ;
    grid-template-rows: repeat(27,1fr) ;
}
#box-three-1 {
    grid-column: 2/3;
    grid-row: 2/3;
}
/* black color */
#crown-1 {
    background-color: var(--color-six);
    grid-column: 16/18;
    grid-row: 1;
}
#crown-2 {
    background-color: var(--color-six);
    grid-column: 15/19;
    grid-row: 2/6;
}
#crown-3 {
    background-color: var(--color-six);
    grid-column: 2/4;
    grid-row: 4/5;
}
#crown-4 {
    background-color: var(--color-six);
    grid-column: 30/32;
    grid-row: 4/5;
}
#crown-5 {
    background-color: var(--color-six);
    grid-column: 1/4;
    grid-row: 5/6;
}
#crown-6 {
    background-color: var(--color-six);
    grid-column: 9/10;
    grid-row: 5;
}
#crown-7 {
    background-color: var(--color-six);
    grid-column: 24/25;
    grid-row: 5;
}
#crown-8 {
    background-color: var(--color-six);
    grid-column: 30/33;
    grid-row: 5;
}
#crown-9 {
    background-color: var(--color-six);
    grid-column: 1/5;
    grid-row: 6/10;
}
#crown-10 {
    background-color: var(--color-six);
    grid-column: 8/11;
    grid-row: 6/8;
}
#crown-11 {
    background-color: var(--color-six);
    grid-column: 14/20;
    grid-row: 6/9;
}
#crown-12 {
    background-color: var(--color-six);
    grid-column: 23/26;
    grid-row: 6/8;
}
#crown-13 {
    background-color: var(--color-six);
    grid-column: 29/33;
    grid-row: 6/10;
}
#crown-14 {
    background-color: var(--color-six);
    grid-column: 7/13;
    grid-row: 8;
}
#crown-15 {
    background-color: var(--color-six);
    grid-column: 21/27;
    grid-row: 8;
}
#crown-16 {
    background-color: var(--color-six);
    grid-column: 6/28;
    grid-row: 9;
}
#crown-17 {
    background-color: var(--color-six);
    grid-column: 2/32;
    grid-row: 10/13;
}
#crown-18 {
    background-color: var(--color-six);
    grid-column: 3/31;
    grid-row: 13/16;
}
#crown-19 {
    background-color: var(--color-six);
    grid-column: 4/30;
    grid-row: 16/20;
}
#crown-20 {
    background-color: var(--color-six);
    grid-column: 5/29;
    grid-row: 20/26;
}
#crown-21 {
    background-color: var(--color-six);
    grid-column: 4/30;
    grid-row: 25/28;
}
/* yellow color */
#crown-22 {
    background-color: var(--color-eight);
    grid-column: 16/18;
    grid-row: 2/6;
}
#crown-23 {
    background-color: var(--color-eight);
    grid-column: 2;
    grid-row: 5/7;
}
#crown-24 {
    background-color: var(--color-eight);
    grid-column: 15/19;
    grid-row: 6/9;
}
#crown-25 {
    background-color: var(--color-eight);
    grid-column: 31/32;
    grid-row: 5/7;
}
#crown-26 {
    background-color: var(--color-eight);
    grid-column: 2/4;
    grid-row: 7/10;
}
#crown-27 {
    background-color: var(--color-eight);
    grid-column: 14/20;
    grid-row: 9/15;
}
#crown-28 {
    background-color: var(--color-eight);
    grid-column: 30/32;
    grid-row: 7/10;
}
#crown-29 {
    background-color: var(--color-eight);
    grid-column: 3;
    grid-row: 10/13;
}
#crown-30 {
    background-color: var(--color-eight);
    grid-column: 4;
    grid-row: 10/16;
}
#crown-30 {
    background-color: var(--color-eight);
    grid-column: 4;
    grid-row: 10/16;
}
#crown-31 {
    background-color: var(--color-eight);
    grid-column: 5;
    grid-row: 11/20;
}
#crown-32 {
    background-color: var(--color-eight);
    grid-column: 6;
    grid-row: 12/23;
}
#crown-33 {
    background-color: var(--color-eight);
    grid-column: 7;
    grid-row: 13/18;
}
#crown-34 {
    background-color: var(--color-eight);
    grid-column: 7;
    grid-row: 21/23;
}
#crown-35 {
    background-color: var(--color-eight);
    grid-column: 8;
    grid-row: 14/17;
}
#crown-36 {
    background-color: var(--color-eight);
    grid-column: 8;
    grid-row: 22/23;
}
#crown-37 {
    background-color: var(--color-eight);
    grid-column: 9;
    grid-row: 14/18;
}
#crown-38 {
    background-color: var(--color-eight);
    grid-column: 9;
    grid-row: 21/23;
}
#crown-39 {
    background-color: var(--color-eight);
    grid-column: 10;
    grid-row: 14/23;
}
#crown-40 {
    background-color: var(--color-eight);
    grid-column: 11;
    grid-row: 13/23;
}
#crown-41 {
    background-color: var(--color-eight);
    grid-column: 12;
    grid-row: 12/23;
}
#crown-42 {
    background-color: var(--color-eight);
    grid-column: 13;
    grid-row: 11/23;
}
#crown-43 {
    background-color: var(--color-eight);
    grid-column: 14;
    grid-row: 15/17;
}
#crown-44 {
    background-color: var(--color-eight);
    grid-column: 14;
    grid-row: 20/23;
}
#crown-45 {
    background-color: var(--color-eight);
    grid-column: 15;
    grid-row: 15;
}
#crown-46 {
    background-color: var(--color-eight);
    grid-column: 15;
    grid-row: 21/23;
}
#crown-47 {
    background-color: var(--color-eight);
    grid-column: 16/18;
    grid-row: 22/23;
}
#crown-49 {
    background-color: var(--color-eight);
    grid-column: 18;
    grid-row: 21/23;
}
#crown-50 {
    background-color: var(--color-eight);
    grid-column: 18;
    grid-row: 15/16;
}
#crown-51 {
    background-color: var(--color-eight);
    grid-column: 19;
    grid-row: 15/17;
}
#crown-52 {
    background-color: var(--color-eight);
    grid-column: 19;
    grid-row: 20/23;
}
#crown-53 {
    background-color: var(--color-eight);
    grid-column: 20;
    grid-row: 11/23;
}
#crown-54 {
    background-color: var(--color-eight);
    grid-column: 21;
    grid-row: 12/23;
}
#crown-55 {
    background-color: var(--color-eight);
    grid-column: 22;
    grid-row: 13/23;
}
#crown-56 {
    background-color: var(--color-eight);
    grid-column: 23;
    grid-row: 14/23;
}
#crown-57 {
    background-color: var(--color-eight);
    grid-column: 24;
    grid-row: 14/18;
}
#crown-58 {
    background-color: var(--color-eight);
    grid-column: 24;
    grid-row: 21/23;
}
#crown-59 {
    background-color: var(--color-eight);
    grid-column: 25;
    grid-row: 14/17;
}
#crown-60 {
    background-color: var(--color-eight);
    grid-column: 25;
    grid-row: 22/23;
}
#crown-61 {
    background-color: var(--color-eight);
    grid-column: 26;
    grid-row: 13/18;
}
#crown-62 {
    background-color: var(--color-eight);
    grid-column: 26;
    grid-row: 21/23;
}
#crown-63 {
    background-color: var(--color-eight);
    grid-column: 27;
    grid-row: 12/23;
}
#crown-64 {
    background-color: var(--color-eight);
    grid-column: 28;
    grid-row: 11/20;
}
#crown-65 {
    background-color: var(--color-eight);
    grid-column: 29;
    grid-row: 10/16;
}
#crown-66 {
    background-color: var(--color-eight);
    grid-column: 30;
    grid-row: 10/13;
}
/* orange color */
#crown-67 {
    background-color: var(--color-nine);
    grid-column: 6;
    grid-row: 10;
}
#crown-68 {
    background-color: var(--color-nine);
    grid-column: 7/12;
    grid-row: 9/12;
}
#crown-69 {
    background-color: var(--color-nine);
    grid-column: 8/11;
    grid-row: 8/13;
}
#crown-70 {
    background-color: var(--color-nine);
    grid-column: 9;
    grid-row: 6/8;
}
#crown-71 {
    background-color: var(--color-nine);
    grid-column: 12;
    grid-row: 9/11;
}
#crown-72 {
    background-color: var(--color-nine);
    grid-column: 21;
    grid-row: 9/11;
}
#crown-73 {
    background-color: var(--color-nine);
    grid-column: 22/27;
    grid-row: 9/12;
}
#crown-74 {
    background-color: var(--color-nine);
    grid-column: 23/26;
    grid-row: 8/13;
}
#crown-75 {
    background-color: var(--color-nine);
    grid-column: 24;
    grid-row: 6/8;
}
#crown-76 {
    background-color: var(--color-nine);
    grid-column: 27;
    grid-row: 10;
}
/* green color */
#crown-77 {
    background-color: var(--color-ten);
    grid-column: 8;
    grid-row: 18/21;
}
#crown-78 {
    background-color: var(--color-ten);
    grid-column: 25;
    grid-row: 18/21;
}
/* red color */
#crown-79 {
    background-color: var(--color-five);
    grid-column: 16/18;
    grid-row: 16/21;
}
#crown-80 {
    background-color: var(--color-five);
    grid-column: 15/19;
    grid-row: 17/20;
}
#crown-81 {
    background-color: rgb(98, 0, 0);
    grid-column: 6/28;
    grid-row: 24;
}
#crown-82 {
    background-color: rgb(131, 131, 131);
    grid-column: 5/29;
    grid-row: 26;
}
.grid-item-four {
    display: grid;
    border: var(--border-one);
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 0.8fr 1.1fr 1.1fr; 
}

#box-four {
    background-color: var(--color-two);
    grid-column: 4/5;
    grid-row: 2/4;
    box-shadow: var(--box-shadow);
    border-radius: 2px;
}


.grid-box-four {
    display: grid;
    grid-template-columns: repeat(15,1fr) ;
    grid-template-rows: repeat(17,1fr) ;
}
#box-four-1 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#spade-1 {
    background-color: var(--color-six);
    grid-column: 8;
    grid-row: 1;
}
#spade-2 {
    background-color: var(--color-six);
    grid-column: 7/10;
    grid-row: 2;
}
#spade-3 {
    background-color: var(--color-six);
    grid-column: 6/11;
    grid-row: 3;
}
#spade-4 {
    background-color: var(--color-six);
    grid-column: 5/12;
    grid-row: 4;
}
#spade-5 {
    background-color: var(--color-six);
    grid-column: 4/13;
    grid-row: 5;
}
#spade-6 {
    background-color: var(--color-six);
    grid-column: 3/14;
    grid-row: 6;
}
#spade-7 {
    background-color: var(--color-six);
    grid-column: 2/15;
    grid-row: 7;
}
#spade-8 {
    background-color: var(--color-six);
    grid-column: 1/16;
    grid-row: 8/13;
}
#spade-9 {
    background-color: var(--color-six);
    grid-column: 2/15;
    grid-row: 13;
}
#spade-10 {
    background-color: var(--color-six);
    grid-column: 3/6;
    grid-row: 14;
}
#spade-11 {
    background-color: var(--color-six);
    grid-column: 7/10;
    grid-row: 14/16;
}
#spade-12 {
    background-color: var(--color-six);
    grid-column: 11/14;
    grid-row: 14;
}
#spade-13 {
    background-color: var(--color-six);
    grid-column: 6/11;
    grid-row: 16/17;
}
#spade-14 {
    background-color: var(--color-six);
    grid-column: 5/12;
    grid-row: 17;
}
#spade-15 {
    background-color: var(--color-seven);
    grid-column: 7;
    grid-row: 4;
}
#spade-16 {
    background-color: var(--color-seven);
    grid-column: 6;
    grid-row: 5;
}
#spade-17 {
    background-color: var(--color-seven);
    grid-column: 5;
    grid-row: 6;
}
#spade-18 {
    background-color: var(--color-seven);
    grid-column: 4;
    grid-row: 7;
}
#spade-19 {
    background-color: var(--color-seven);
    grid-column: 3;
    grid-row: 8;
}
#spade-20 {
    background-color: var(--color-seven);
    grid-column: 2;
    grid-row: 9;
}
.grid-item-five {
    display: grid;
    border: var(--border-one);
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 0.8fr 1.1fr 1.1fr;  
}

#box-five {
    background-color: var(--color-two);
    grid-column: 5/6;
    grid-row: 1/3;
    box-shadow: var(--box-shadow);
    border-radius: 2px;
}

.grid-box-five {
    display: grid;
    grid-template-columns: repeat(15,1fr) ;
    grid-template-rows: repeat(15,1fr) ;
}

#box-five-1 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#diamond-1 {
    background-color: var(--color-six);
    grid-column: 1/16;
    grid-row: 8;
}
#diamond-2 {
    background-color: var(--color-six);
    grid-column: 2/15;
    grid-row: 7/10;
}
#diamond-3 {
    background-color: var(--color-six);
    grid-column: 3/14;
    grid-row: 6/11;
}
#diamond-4 {
    background-color: var(--color-six);
    grid-column: 4/13;
    grid-row: 5/12;
}
#diamond-5 {
    background-color: var(--color-six);
    grid-column: 5/12;
    grid-row: 4/13;
}
#diamond-6 {
    background-color: var(--color-six);
    grid-column: 6/11;
    grid-row: 3/14;
}
#diamond-7 {
    background-color: var(--color-six);
    grid-column: 7/10;
    grid-row: 2/15;
}
#diamond-8 {
    background-color: var(--color-six);
    grid-column: 8/9;
    grid-row: 1/16;
}
#diamond-9 {
    background-color: var(--color-five);
    grid-column: 2/15;
    grid-row: 8;
}
#diamond-10 {
    background-color: var(--color-five);
    grid-column: 3/14;
    grid-row: 7/10;
}
#diamond-11 {
    background-color: var(--color-five);
    grid-column: 4/13;
    grid-row: 6/11;
}
#diamond-12 {
    background-color: var(--color-five);
    grid-column: 5/12;
    grid-row: 5/12;
}
#diamond-13 {
    background-color: var(--color-five);
    grid-column: 6/11;
    grid-row: 4/13;
}
#diamond-14 {
    background-color: var(--color-five);
    grid-column: 7/10;
    grid-row: 3/14;
}
#diamond-15 {
    background-color: var(--color-five);
    grid-column: 8;
    grid-row: 2/15;
}
#diamond-16 {
    background-color: var(--color-seven);
    grid-column: 8;
    grid-row: 4;
}
#diamond-17 {
    background-color: var(--color-seven);
    grid-column: 7;
    grid-row: 5;
}
#diamond-18 {
    background-color: var(--color-seven);
    grid-column: 6;
    grid-row: 6;
}
#diamond-19 {
    background-color: var(--color-seven);
    grid-column: 5;
    grid-row: 7;
}
#diamond-20 {
    background-color: var(--color-seven);
    grid-column: 4;
    grid-row: 8;
}
.grid-item-six {
    display: grid; 
    grid-template-columns: 0.3fr 0.1fr 0.1fr 0.5fr 4.6fr 0.5fr 0.1fr 0.1fr 0.3fr; 
    grid-template-rows: 0.5fr 0.1fr 0.1fr 0.5fr 4.2fr 0.5fr 0.1fr 0.1fr 0.5fr;
}
#box-six {
    grid-column: 1/6;
    grid-row: 4/5;
    box-shadow: var(--box-shadow);
    border: var(--border-one);
    background: radial-gradient(rgb(122, 252, 0), rgb(33, 86, 0));
}
#box-six-1 {
    background-color: var(--color-seven);
    grid-column: 2/9;
    grid-row: 2;
}
#box-six-2 {
    background-color: var(--color-seven);
    grid-column: 2;
    grid-row: 3/8;
}
#box-six-3 {
    background-color: var(--color-seven);
    grid-column: 2/9;
    grid-row: 8;
}
#box-six-4 {
    background-color: var(--color-seven);
    grid-column: 8;
    grid-row: 3/8;
}
.poker {
    display: grid;
    grid-column: 5/6;
    grid-row: 5/6;
    grid-template-columns: 0.7fr 1.7fr 0.6fr; 
    grid-template-rows: 0.3fr 0.7fr 2fr;
}
#poker-box {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: repeat(19,1fr); 
    grid-template-rows: repeat(5,1fr);
}
/*letter P*/
#box-poker-1 {
    background-color: var(--color-seven);
    grid-column: 1;
    grid-row: 1/6;
}
#box-poker-2 {
    background-color: var(--color-seven);
    grid-column: 2/4;
    grid-row: 1;
}
#box-poker-3 {
    background-color: var(--color-seven);
    grid-column: 3;
    grid-row: 1/4;
}
#box-poker-4 {
    background-color: var(--color-seven);
    grid-column: 2/4;
    grid-row: 3;
}
/*letter o*/
#box-poker-5 {
    background-color: var(--color-seven);
    grid-column: 5/8;
    grid-row: 1;
}
#box-poker-6 {
    background-color: var(--color-seven);
    grid-column: 5;
    grid-row: 1/6;
}
#box-poker-7 {
    background-color: var(--color-seven);
    grid-column: 7;
    grid-row: 1/6;
}
#box-poker-9 {
    background-color: var(--color-seven);
    grid-column: 5/8;
    grid-row: 5;
}
/*letter k*/
#box-poker-10 {
    background-color: var(--color-seven);
    grid-column: 9;
    grid-row: 1/6;
}
#box-poker-11 {
    background-color: var(--color-seven);
    grid-column: 10;
    grid-row: 3;
}
#box-poker-12 {
    background-color: var(--color-seven);
    grid-column: 11;
    grid-row: 1/3;
}
#box-poker-13 {
    background-color: var(--color-seven);
    grid-column: 11;
    grid-row: 4/6;
}
/*letter e*/
#box-poker-14 {
    background-color: var(--color-seven);
    grid-column: 13;
    grid-row: 1/6;
}
#box-poker-15 {
    background-color: var(--color-seven);
    grid-column: 14/16;
    grid-row: 1;
}
#box-poker-16 {
    background-color: var(--color-seven);
    grid-column: 14;
    grid-row: 3;
}
#box-poker-17 {
    background-color: var(--color-seven);
    grid-column: 14/16;
    grid-row: 5;
}
/*letter r*/
#box-poker-18 {
    background-color: var(--color-seven);
    grid-column: 17;
    grid-row: 1/6;
}
#box-poker-19 {
    background-color: var(--color-seven);
    grid-column: 17/20;
    grid-row: 1;
}
#box-poker-20 {
    background-color: var(--color-seven);
    grid-column: 19/20;
    grid-row: 2;
}
#box-poker-21 {
    background-color: var(--color-seven);
    grid-column: 18;
    grid-row: 3;
}
#box-poker-22 {
    background-color: var(--color-seven);
    grid-column: 19;
    grid-row: 4/6;
}
#cards {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1.3fr 1.2fr; 
    column-gap: 4px;
    
}
#card-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--color-two);
    border: var(--border-one);
}
#card-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--color-two);
    border: var(--border-one);
}
#card-3 {
    grid-column: 3;
    grid-row: 2/3;
    background-color: var(--color-two);
    border: var(--border-one);
}
#card-4 {
    grid-column: 4;
    grid-row: 2/3;
    background-color: var(--color-two);
    border: var(--border-one);
}
#card-5 {
    grid-column: 5;
    grid-row: 2/3;
    background-color: var(--color-two);
    border: var(--border-one);
}